.hide {
    display:none;
}

.show {
}

li {
    list-style: none;
    padding:5px;
}

.hoverClass span {
    font-size: 18px;
    color: #111111;
    display: block;
    font-weight: 600;
}

.hoverClass a {
    font-size: 18px;
    color: #111111;
    display: block;
    font-weight: 600;
}

.dep1 {
    width:153px;
    background-color: #ffffff;
    position:relative;
    border-style: solid;
    border-width: 1px;
    border-color:#D3D3D3;
    padding:0%;
    font-weight: 500;
    height: 153px;
}

.dep2 {
    background-color: #ffffff;
    position: absolute;
    top: -1px;
    left: 140px;
    border-style: solid;
    border-width: 1px;
    border-color:#D3D3D3;
    padding:0%;
    font-weight: 500;
    width: 150px;
    height: 153px;
}

.dep3 {
    background-color: #ffffff;
    position: absolute;
    top: -1px;
    left: 140px;
    border-style: solid;
    border-width: 1px;
    border-color:  #D3D3D3;
    padding:0%;
    width: 150px;
    color: #FFFFFF;
    font-weight: 500;
    height: 153px;
}

#bestSellerBody{
    position:relative;
}
#previousButton{
    position: relative;
    left: -316px;
    top: 177px;
}
#nextButton{
    position: relative;
    left: 1150px;
    top: -273px;
}