.input-quantity {
    width: 45px;
    border: 1px #EEEEEE solid;
    border-radius: 5px;
    text-align: right;
    padding: 0 6px;
}

.btn-decrease, .btn-increase, .btn-delete {
    cursor: pointer;
}

#empty-box {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    width: 100%;
    height: 327.1px;
    padding-top: 15%;
}