<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.dao.cart.CartDao">
    <select id = "selectByVo" parameterType="CartSelectVo" resultType="CartItem">
        SELECT *
        FROM cart_item
        <if test="consumerId != null">
            WHERE consumer_id = #{consumerId}
        </if>
        <if test="cartId != null">
            WHERE cart_id = #{cartId}
        </if>
    </select>
    <update id="updateItemQuantityByCartId" parameterType="CartUpdateVo">
        UPDATE cart_item
        SET item_quantity=#{itemQuantity}
        WHERE cart_id=#{cartId}
    </update>
</mapper>